.appnamebuttun {
    background-color: rgb(33, 112, 112);
    border: none;
    color: azure;
    padding: 10px 28px;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}

.image1 {
    width: 100%;
    height: 100%;
    background-color: rgb(123, 201, 204);
    opacity: 0.5;
}

.image{
    background-image: url(../../images/download.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.5;
}
